.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 35vh;
    border: 2px solid #7F636E;
    background-color: rgba(127, 99, 110, 0.5);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 2rem;
    color: #fff;
}

.title {
    height: 10vh;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.imagen {
    width: 100%;
    object-fit: cover;
}

.parrafo {
    height: 10vh;
    padding-left: 5px;
}